
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');// <weight>: Use a value from 100 to 900


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgb(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}
.banner-content{
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    width:100%;    
}
/* team and feature related styles */
.teams{
    align-items: center;

}
.team-img-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 24px;

}
.our-features{
    padding-left:130px;
    max-width: 530px;
}

main > section{
    margin-top: 130px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
    
}
/* header styles */



/* navbar related styles */
.navbar{
    display: flex;
    justify-content: space-between;
  align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
    
    

}
.nav-link{
    font-weight: 500;
    display: flex;
    text-decoration: none;

}
.navbar, .banner{
max-width: 1440px;
margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight:500;
}
/* feature section */
.feature-section-title{
    border-left: 5px solid #FF900E;
    padding: 21px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0px;
    margin-bottom: 0px;
}
.feature-card{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgb(0,0,0,0.10);
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features{
gap: 140px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left:-100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img {
    width: 100%;
    margin-top:245px ;

}

/* some facts related styles */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.facts-container{
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    display: flex;
    gap: 24px;

}
.sponsor-company{
    gap: 40px;
    justify-items: center;
}
   .center{
    align-items:center;
    justify-items: center;
   } 
   .sponsor-info{
    justify-items: center;
   }

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
fact-description{
    max-width: 540px;
   
}
/* .flex{
    display: flex; */
}
/* sponsor related */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    justify-content: space-between;
    margin-left: 50px;
}

.sponsor-company img{
    filter: grayscale(100%);
}

/* responsive media query */
@media  screen and (max-width:576px){
    .navbar, .nav-link, .teams, .facts-container, 
    .features{
        flex-direction: column;
    }
   .team-img-container, 
   .facts-container,
   .sponsor-company{
    grid-template-columns:repeat(1, 1fr);
    
   } 
   #experience-badge{
    margin-top: 20PX;
    margin-left: 20PX;
   }
.featured-architect{
    margin-top: -300px;
    
}
.team-image-container{
    text-align: center;
}
}
/* madium size device */
@media screen and (min-width:576px)and(max-width:992px){
.teams{
    flex-direction: column;
}
.our-features{
    margin-left:50px auto;
}
.sponsor-company{
    grid-template-columns:repeat(3, 1fr);
    gap: 50px;
}
    
}

